<h1>Programa de producción Racks</h1>


<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<script type="text/javascript">
      google.charts.load('current', {'packages':['timeline']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'President' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
          [ 'FRONT FACIA', new Date(2022, 1, 15), new Date(2022, 2, 14) ],
          [ 'GLASS FRONT DOOR RH',      new Date(2022, 2, 10),  new Date(2022, 2, 24) ],
          [ 'GLASS FRONT DOOR LH',  new Date(2022, 6, 2),  new Date(2022, 6, 30) ]]);

        var options = {
           title: 'Programa de producción BIOin',
           width: 850,
           height: 700,
           legend: 'none',
           hAxis: {
  title: 'Hello',
  titleTextStyle: {
    color: '#FF0000'
  }
}
         };


        chart.draw(dataTable, options);
      }

    </script>

    <div id="timeline" style="height: 180px;"></div>
